body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ecf1f6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(53, 53, 53);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
